html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lexend Light", Tahoma;
  letter-spacing: 1px;
}

h1 {
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #1b263b;
  padding-bottom: 20px;
}

div.form {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  align-items: center;
}

span.checklabel {
  margin-left: 60px;
}

label {
  font-size: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  color: #1b263b;
}

input[type="text"] {
  font-size: 18px;
  font-family: "Lexend Light", Tahoma;
  margin-bottom: 5px;
  display: block;
}

span.credits {
  position: fixed;
  font-size: 14px;
  bottom:0;
  right:0;
  padding-bottom: 5px;
  padding-right: 5px;
}

div.content {
  margin: auto;
  width: 90%;
  align-items: center;
  display: flex;
  position: relative;
}

div.leftcolumn {
  flex: 60%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

div.rightcolumn {
  flex: 40%;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

div.skills {
  margin-top: 5px;
  float: left;
  display: inline;
}

div.checkboxes {
  display: inline;
  margin-left: 40px;
  float: left;
}

div.buttons {
  margin: auto;
}

span.spacing {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

select {
  margin-top: 10px;
   font-family: "Lexend Light", Tahoma;
  font-size: 16px;
}

option {
  font-family: "Lexend Light", Tahoma;
  font-size: 16px;
}

input[type="submit"] {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ebebeb;
    color: #415a77;
    font-family: "Lexend Light", Tahoma;
    font-size: 16px;
    text-align: center;
    user-select: none;
    margin-top: 20px;
}

input[type="checkbox"] {
    margin: 12px 25px;
    width: 20px;
    height: 20px;
    display: block;
}
input[type="submit"]:hover {
    background-color: #dbdbdb;
}

textarea {
  width: 85%;
  font-family: "Lexend Light", Tahoma;
  color: #696969;
  font-size: 18px;
  user-select: none;
}

